// Color System
$dark-blue: #39455E;
$darkest-blue: #252C3F;
$darker-blue: #2E364D;
$bayou: #4A5C73;
$blue-subtle: #F1F7FF;

$cactus-flower: #F58266;
$burnt-orange: #A14538;
$deep-orange: #D9664F;
$sherbet: #FFC4B5;
$peach: #FEEDE9;

$corn-flower: #88AFFF;
$deep-bluw: #586B94;
$cove: #7089BE;
$lightest-blue: #CFDEFF;
$corn-flower-subtle: #F1F6FF;

$lavender: #898DA5;
$ash: #464A5B;
$dark-lavender: #5F637A;
$lavender-white: #CCD2F5;
$lavender-subtle: #F2F4FF;

// Greyscale
$black: #000000;
$gray-900: #141414;
$gray-800: #1F1F1F;
$gray-700: #333333;
$gray-600: #545454;
$gray-500: #757575;
$gray-400: #AFAFAF;
$gray-300: #CBCBCB;
$gray-200: #E2E2E2;
$gray-100: #EEEEEE;
$gray-50: #F6F6F6;
$true-white: #FFFFFF;

// System
$red-400: #C11500;
$red-300: #E11900;
$red-200: #F1998E;
$red-50: #FFEFED;

$yellow-400: #BC8B2C;
$yellow-300: #FFC043;
$yellow-200: #FFE3AC;
$yellow-50: #FFFAF0;

$green-400: #04763F;
$green-300: #05944F;
$green-200: #66D19E;
$green-50: #E6F2ED;

// Fonts
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./static/fonts/Poppins_Family/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./static/fonts/Poppins_Family/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins-Regular';
}